[submodule "HolodeckPythonBinding"]
	path = HolodeckPythonBinding
	url = https://github.com/byu-pccl/HolodeckPythonBinding
[submodule "camera_calibration"]
	path = camera_calibration
	url = https://github.com/pmarke/camera_calibration.git
[submodule "state_plotter"]
	path = state_plotter
	url = https://magiccvs.byu.edu/gitlab/lab/state_plotter.git
