[submodule "HolodeckPythonBinding"]
	path = HolodeckPythonBinding
	url = https://github.com/byu-pccl/HolodeckPythonBinding
[submodule "camera_calibration"]
	path = camera_calibration
	url = https://github.com/pmarke/camera_calibration.git